@import "../../node_modules/video.js/dist/video-js.min.css";
@import "../../node_modules/videojs-overlay/dist/videojs-overlay.css";

/* Variables */
@import 'variables.pcss';
@import 'fonts.pcss';
@import 'global.pcss';
@import 'forms.pcss';
@import 'video.pcss';
@import 'result-grid.pcss';
@import 'list.pcss';
@import 'footer.pcss';
@import 'search.pcss';
@import '../../node_modules/vue-slick-carousel/dist/vue-slick-carousel-theme.css';
@import '../../node_modules/vue-slick-carousel/dist/vue-slick-carousel.css';
