/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Nunito');

/* Variables */
@import 'variables.css';
@import 'result-grid.css';

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: lft-etica, sans-serif;
    font-style: normal;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
}

.listing > .title {
    grid-column: 2;
}