.citation {
  width: 100%;
  margin: 22px;
}

.citation__content {
  margin-bottom: 22px;
  background: var(--background--darker);
  color: var(--text-secondary);
}

.citation__label {
  display: block;
}

.citation__copy {
  display: block;
}
