.carousel-slide--featured .video__thumbnail {
  flex: 1;
}

@media screen and (min-width: 600px) {
  .carousel-slide--featured {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 250px;
  }
}
