.topics__list {
  display: flex;
  justify-content: space-evenly;
}

.slick-next,
.slick-prev {
  background: black;
}

.videos {
  display: flex;
  flex-direction: column;
}

.video {
  display: inline-block;
}
