.topic-menu {
  position: fixed;
  background: #fff;
  bottom: 40px;
  left: 0;
  width: 100%;
  z-index: 2;
  font-size: 24px;
  padding-left: 20px;
}

.navigation-bar__item {
  padding: 14px 0;
  margin: 0 32px;
  white-space: nowrap;
}

.navigation-bar .link {
  text-decoration: none;
  color: #4d4b4d;
}

.navigation-bar .link--active {
  color: var(--highlight-primary);
}
