.pagination {
  margin: 40px 0;
}

.pagination__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 32px;
}

.pagination__list-item {
  /* padding: 2px 10px; */
  font-size: 16px;
  font-weight: 700;
  color: #4d4b4b;
  padding: 5px;

  a {
    border-bottom: none;
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-left: 0;
  }
}

.pagination__list-item--current {
  color: var(--element-disabled);
}
