:root {
  --body-bg: #808285;
  --body-text-color: #fff;
  --highlight-color-primary: #f36cb5;
  --highlight-color-secondary: #00b2e5;
  --font-family-sans-serif: 'lft_etica', sans-serif;
  --font-size-base: 0.9rem;
  --line-height-base: 1.6;
}
